.value {
  font-size: 25px;
}
.value-wrapper {
  width: 100%;
  padding: 5px;

  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
.increase {
  background-color: #6ed7d3;
  color: #0a524a;
}

.decrease {
  background-color: #fce8e8;
  color: #db1919;
}

.nochange {
  background-color: #96b6c5;
  color: #253144;
}
