.table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-family: "Encode Sans Condensed";
  letter-spacing: 2px;

  .select-header {
    font-size: 25px;
  }
}

.p-datatable-header {
  text-align: center;
}

.p-column-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .p-column-title {
    text-align: center;
  }
}
.p-datatable-wrapper {
  font-size: 1.2em;
}
.p-datatable-row-expansion {
  td {
    div {
      div {
        div {
          table {
            tbody {
              tr {
                height: 40px;
                background-color: #17212f !important;
              }
            }
          }
        }
      }
    }
  }
}
.p-datatable-tbody {
  td {
    padding: 0 0 0 10px !important;
  }
  [role="row"] {
    [role="cell"]:nth-child(6),
    [role="cell"]:nth-child(5),
    [role="cell"]:nth-child(4),
    [role="cell"]:nth-child(3) {
      text-align: center;
    }
  }
}
.MuiInputAdornment-root {
  .MuiButtonBase-root {
    .MuiSvgIcon-root {
      color: #16d6fa !important;
    }
  }
}

.MuiTouchRipple-root {
  color: blue;
}
@media only screen and (max-width: 840px) {
  .select {
    flex-direction: column;
    gap: 0;
    justify-content: center;
    h3 {
      margin: 10px;
    }
  }

  .p-column-header-content {
    .p-column-title {
      font-size: 20px;
    }
  }
}
@media only screen and (max-width: 540px) {
  .select {
    width: 150px;
  }

  .p-column-header-content {
    .p-column-title {
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .select {
    width: 100px;
  }

  .p-datatable-wrapper {
    font-size: 15px;
  }
}

@media only screen and (max-width: 360px) {
  .p-datatable-wrapper {
    font-size: 8px;
  }
}
