.table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-family: "Encode Sans Condensed";
  letter-spacing: 2px;
}

.p-datatable-header {
  text-align: center;
}

.p-column-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.p-datatable-wrapper {
  font-size: 1.2em;
}
.p-datatable-row-expansion {
  td {
    div {
      div {
        div {
          table {
            tbody {
              tr {
                height: 40px;
                background-color: #17212f !important;
              }
            }
          }
        }
      }
    }
  }
}
.p-datatable-tbody {
  td {
    padding: 0 !important;
  }
  [role="row"] {
    [role="cell"]:nth-child(6),
    [role="cell"]:nth-child(5),
    [role="cell"]:nth-child(4),
    [role="cell"]:nth-child(3) {
      text-align: center;
    }
  }
}
