.glass {
  // background: rgba(255, 255, 255, 0.1);

  // backdrop-filter: blur(1.5px);
  // -webkit-backdrop-filter: blur(1.5px);

  // border: 1px solid rgba(255, 255, 255, 0.1);
  background-image: radial-gradient(
    circle,
    hsla(0, 0%, 35.29%, 0) 0%,
    hsla(0, 0%, 34.53%, 0.034375) 16.36%,
    hsla(0, 0%, 32.42%, 0.125) 33.34%,
    hsla(0, 0%, 29.18%, 0.253125) 50.1%,
    hsla(0, 0%, 24.96%, 0.4) 65.75%,
    hsla(0, 0%, 19.85%, 0.546875) 79.43%,
    hsla(0, 0%, 13.95%, 0.675) 90.28%,
    hsla(0, 0%, 7.32%, 0.765625) 97.43%,
    hsla(0, 0%, 0%, 0.8) 100%
  );
  position: absolute;
  height: 83px;
  width: 250px;
}

@media only screen and (max-width: 640px) {
  .glass {
    width: 200px;
    height: 66px;
  }
}

@media only screen and (max-width: 540px) {
  .glass {
    width: 130px;
    height: 44.5px;
  }
}

@media only screen and (max-width: 400px) {
  .glass {
    width: 100px;
    height: 33.5px;
  }
}
