.css-t89xny-MuiDataGrid-columnHeaderTitle {
  font-weight: 600 !important;
}

.MuiDataGrid-columnHeaderTitleContainer {
  border-bottom: 1px solid #0b213f !important;
}

.MuiDataGrid-sortIcon {
  color: white !important;
}

// Dividing lines between current month and previous month
.MuiDataGrid-columnHeadersInner {
  .css-yrdy0g-MuiDataGrid-columnHeaderRow {
    // Revenue Icon
    .table-header:nth-child(8) {
      border-right: 4px solid #d3d3d3;
    }
    //Server Icon
    .table-header:nth-child(2) {
      border-right: none !important;
    }

    // Revenue Total
    .MuiDataGrid-columnHeader--filledGroup:nth-child(4) {
      border-right: 4px solid #d3d3d3;
    }
  }

  .css-yrdy0g-MuiDataGrid-columnHeaderRow:nth-child(1) {
    font-weight: 600 !important;
    font-family: "Encode Sans Condensed";

    .MuiDataGrid-columnHeader:nth-child(2) {
      border-right: 4px solid #d3d3d3;
    }
  }
}

.MuiDataGrid-toolbarContainer {
  .MuiButtonBase-root {
    color: white;
  }
}

// Search
.MuiInput-root {
  .MuiSvgIcon-fontSizeSmall {
    color: white !important;
  }

  .MuiInput-input {
    background-color: lightgray !important;
    border-radius: 5px;
    padding: 0 10px 0;
    height: 35px;
    margin-bottom: 3px;
  }
}

// Cell background depends if revenue/downloads increased/decrease/nochange
// REVENUE
.total-current-cell-revenue {
  border-right: 4px #d3d3d3 solid !important;
  .MuiDataGrid-cellContent {
    padding: 5px 10px;
    border-radius: 10px;
    box-sizing: border-box;
  }
}
.total-current-cell-revenue.increase {
  .MuiDataGrid-cellContent {
    background-color: #6ed7d3;
    color: #1a645d;
  }
}
.total-current-cell-revenue.decrease {
  .MuiDataGrid-cellContent {
    background-color: #fce8e8;
    color: #db2f2f;
  }
}
.total-current-cell-revenue.nochange {
  .MuiDataGrid-cellContent {
    background-color: #f1f3f5;
    color: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

// DOWNLOADS
.total-current-cell {
  .MuiDataGrid-cellContent {
    padding: 5px 10px;
    border-radius: 10px;
    box-sizing: border-box;
  }
}

.total-current-cell.increase {
  .MuiDataGrid-cellContent {
    background-color: #6ed7d3;
    color: #1a645d;
  }
}
.total-current-cell.decrease {
  .MuiDataGrid-cellContent {
    background-color: #fce8e8;
    color: #db2f2f;
  }
}
.total-current-cell.nochange {
  .MuiDataGrid-cellContent {
    background-color: #f1f3f5;
    color: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}
